* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #fdf5ed;
    height: 100%;
}

.container {
    width: 1350px;
    height: 720px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 20px 25px -30px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 20px 25px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 20px 25px -30px rgba(0, 0, 0, 0.75);
    display: flex;
}

.form-box {
    flex: 1;
    /* background-color: rgb(250, 117, 117); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 50px 25px;
}

.form-box__controls {
    width: 65%;
}

.password__options {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;

}

.form-box__controls {
    display: flex;
    flex-direction: column;
}

.logo {
    color: #ea5165;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.form-box__message {
    margin-bottom: 50px;
}

.form-box__message .header {
    margin-bottom: 12px;
    font-size: 24px;
}

.form-box__message .description {
    color: #999;
    font-size: 12px;
}



.controls__input div {
    width: 100%;
    position: relative;
}

.controls__input .inputText {
    font-size: 14px;
    width: 100%;
    height: 50px;
    border: 1px solid #ebeef0;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 12px 15px 0px;
    outline: none;
}

.floating-label {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 15px;
    transition: 0.2s ease all;
    opacity: 0.75;

}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
    top: 10px;
    /* bottom: 10px; */
    /* left: 5px; */
    font-size: 10px;
    /* opacity: 1; */

}


.option-remember {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox+label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.styled-checkbox:hover+label:before {
    background: #fefefe;
}

.styled-checkbox:focus+label:before {
    /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); */
    /* border: 1px solid #ccc; */
}

.styled-checkbox:checked+label:before {
    background: #679cd6;
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 8px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.forgot-link {
    text-decoration: none;
    color: inherit;
}

button[type=submit] {
    margin: 20px 0;
    background-color: #679cd3;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 100ms ease-in-out;

}

button[type=submit]:hover {
    background-color: #3168a3;
    box-shadow: 0px 20px 25px -30px rgba(31, 68, 0, 0.75);
    -webkit-box-shadow: 0px 20px 25px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 20px 25px -30px rgba(0, 0, 0, 0.75);
}

.form-message {
    margin-top: 20px;
    font-size: 14px;

}

.copyright {
    opacity: 0.5;
    font-size: 10px;
}

.image-box {
    flex: 1;
    overflow: hidden;
}

.image-box img {
    height: 100%;
}